body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
 }

/* apna */
.headu{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px ;
}
.margin{
 margin-bottom: 20px;
}
 .container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 h1 {
  color: #e74c3c;
  text-align: center;
 }

 .form-group {
  margin-bottom: 15px;
 }

 label {
  display: block;
  margin-bottom: 5px;
 }

 input[type="text"],
 input[type="tel"],
 input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
 }

 .radio-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
 }

 .radio-group label {
  display: inline-block;
 }

 textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
 }

 button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
 }

 button:hover {
  background-color: #c0392b;
 }
